# ===============================
# Java / Spring Boot - .gitignore
# ===============================

# Compiled
*.class

# Logs
*.log
logs/

# Build
target/
build/
target/*.jar

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Packages
*.war
*.ear

# IDEs

## IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

## Eclipse
.project
.classpath
.settings/
.springBeans
.sts4-cache

## VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
Thumbs.db

# Temp / crash
hs_err_pid*
replay_pid*

# Env
.env
.env.*
!.env.example

# Local data (volumes, uploads, etc)
/data/